spring:
    datasource:
        url: jdbc:mysql://localhost:3306/core_banking?createDatabaseIfNotExist=true&serverTimezone=UTC&characterEncoding=UTF-8
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: password

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

# JWT Configuration (Custom properties)
jwt:
    secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK

# Actuator + Prometheus
management:
    endpoints:
        web:
            exposure:
                include: "health,info,prometheus,metrics"
    endpoint:
        health:
            show-details: always
    metrics:
        tags:
            application: core-banking
